## Driving Licenses, Traffic Accidents and Casualties Analysis

In [2]:
#Imports

import numpy as np
import pandas as pd
import patsy

from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.model_selection import cross_val_score

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1)
plt.style.use('fivethirtyeight')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## Datasets Description

[Driving Licenses](https://datasource.kapsarc.org/explore/dataset/saudi-arabia-driving-licenses-issued-in-the-kingdom-2004-2008/information/?disjunctive.administritive_area&sort=time_period&location=5,24.37495,45.08024&basemap=jawg.streets)
This dataset contains Saudi Arabia Driving Licenses Issued By Administrative Area for 1993 - 2016. Data from General Authority for Statistics . Follow datasource.kapsarc.org for timely data to advance energy economics research.

[Traffic Accidents and Casualties](https://datasource.kapsarc.org/explore/dataset/saudi-arabia-traffic-accidents-and-casualties-injured-dead-2008/export/?disjunctive.region&disjunctive.indicator&sort=time_period)
This dataset contains Saudi Arabia Traffic Accidents and Casualties by Region for 2016. Data from General Authority for Statistics. Follow datasource.kapsarc.org for timely data to advance energy economics research.

In [4]:
#KSA_traffic df

,Unnamed: 0,Unnamed: 0.1,Year,Region,Indicator,Value,geo_point_2d
0,0,0,(2016),Makkah,No. of Casualties - Injured,12383n,"21.628962766, 41.2636898334"
1,1,1,(2016),Eastern Region,No. of Casualties - Dead,1113n,"23.2883307307, 50.1478302439"
2,2,2,(2016),Tabouk,No. of Casualties - Dead,434n,"27.90165499, 37.2598581394"
3,3,3,(2016),Hail,No. of Casualties - Dead,299n,"27.400845724, 41.4406960508"
4,4,4,(2016),Hail,No. of Accidents,10199n,"27.400845724, 41.4406960508"
5,5,5,(2016),Northern Boarder,No. of Casualties - Dead,193n,"30.197074783, 41.8171186952"
6,6,6,(2017),Jazan,No. of Accidents,22161n,"17.2072313962, 42.6525807422"
7,7,7,(2017),Al-Jouf,No. of Accidents,10469n,"29.9677445762, 39.5570371172"
8,8,8,(2017),Total,No. of Casualties - Dead,7489n,NaN
9,9,9,(2016),Northern Boarder,No. of Casualties - Injured,631n,"30.197074783, 41.8171186952"

In [5]:
#KSA_driving df

,Unnamed: 0,Year,Administritive Area,Driving Liceses,geo_point_2d
0,0,(2012),Makkah,143954n,"21.628962766, 41.2636898334"
1,1,(1994),Makkah,75349n,"21.628962766, 41.2636898334"
2,2,(1998),Makkah,86082n,"21.628962766, 41.2636898334"
3,3,(2004),Makkah,86636n,"21.628962766, 41.2636898334"
4,4,(2005),Makkah,65099n,"21.628962766, 41.2636898334"
5,5,(2008),Makkah,77013n,"21.628962766, 41.2636898334"
6,6,(2014),Madinah,31447n,"24.927534539, 39.4918237173"
7,7,(2013),Madinah,28513n,"24.927534539, 39.4918237173"
8,8,(2012),Madinah,14459n,"24.927534539, 39.4918237173"
9,9,(1994),Madinah,3767n,"24.927534539, 39.4918237173"

#### 3. Briefly describe the data

Take your time looking through the data and briefly describe the data in the markdown cell below. Note things about what the columns might mean, and the general information that is conveyed in the dataframe.

Answer: for 'saudi-arabia-traffic-accidents' data:
         the data had been listed as long dataframe, with 84 rows and only one column.
         it contains data about each region of saudi arabia and it's number of accidents and Casualites for 2016 and 2017 as I see. plus there is a colum I can't really tell about it which is 'geo_point_2d' but as it labeled it may mean the region postion and after I displyed the data 2 column showd up (	Unnamed: 0	Unnamed: 0.1 ) it has no meaning and big chance that I'm gonna delet them

Answer: for 'saudi-arabia_Driving_Liceses' data: the data had been listed as wide dataframe, with 325 rows and 5 column. it contains data about each region of saudi arabia and it's number Driving_Liceses from 1993 tell 2017. the same column 'geo_point_2d' showed up here which make me belive that it's the region postion. and the unmane column too

KSA traffic missing values:
Unnamed: 0      0
Unnamed: 0.1    0
Year            0
Region          0
Indicator       0
Value           0
geo_point_2d    6
dtype: int64

 KSA drving missing values:
 Unnamed: 0              0
Year                    0
Administritive Area     0
Driving Liceses         0
geo_point_2d           25
dtype: int64

dtypes of KSA driving df are:
 Unnamed: 0              int64
Year                   object
Administritive Area    object
Driving Liceses        object
geo_point_2d           object
dtype: object

 dtypes of KSA traffic df are:
 Unnamed: 0       int64
Unnamed: 0.1     int64
Year            object
Region          object
Indicator       object
Value           object
geo_point_2d    object
dtype: object


> 1- there is many columns in both datasetes need to reset the type and fix the way of which the columns' value written

> 2- Accidents dataset need to be formatted to wide so we can take a good look and better way of handling it's data


#### clean  columns' values for both dfs :
* Removing the parentheses and the 'n' latter from both dfs. 
* Make new columns x and y using geo_point_2d
* Drop unnecessary columns like (`'Unnamed: 0'`,`'Unnamed: 0.1'`,`'geo_point_2d'`)

In [12]:
# traffic data
KSA_traffic_df['Year']= KSA_traffic_df['Year'].apply(lambda x: x.replace('(',''))
KSA_traffic_df['Year']= KSA_traffic_df['Year'].apply(lambda x: x.replace(')',''))
KSA_traffic_df['Value']= KSA_traffic_df['Value'].apply(lambda x: x.replace('n',''))

In [13]:
# driving data
KSA_driving_df['Year']= KSA_driving_df['Year'].apply(lambda x: x.replace('(',''))
KSA_driving_df['Year']= KSA_driving_df['Year'].apply(lambda x: x.replace(')',''))
KSA_driving_df['Driving Liceses']= KSA_driving_df['Driving Liceses'].apply(lambda x: x.replace('n',''))

In [21]:
KSA_driving_df.head(5)

   Year Administritive Area Driving Liceses             y               x
0  2012              Makkah          143954  21.628962766   41.2636898334
1  1994              Makkah           75349  21.628962766   41.2636898334
2  1998              Makkah           86082  21.628962766   41.2636898334
3  2004              Makkah           86636  21.628962766   41.2636898334
4  2005              Makkah           65099  21.628962766   41.2636898334

In [22]:
KSA_traffic_df.head(5)

,Year,Region,Indicator,Value,y,x
0,2016,Makkah,No. of Casualties - Injured,12383,21.628962766,41.2636898334
1,2016,Eastern Region,No. of Casualties - Dead,1113,23.2883307307,50.1478302439
2,2016,Tabouk,No. of Casualties - Dead,434,27.90165499,37.2598581394
3,2016,Hail,No. of Casualties - Dead,299,27.400845724,41.4406960508
4,2016,Hail,No. of Accidents,10199,27.400845724,41.4406960508

#### apply function that converts all numerical values  to an appropriate numeric type.

In [24]:

appro_dtype(KSA_traffic_df, 'y')
appro_dtype(KSA_traffic_df, 'x')
appro_dtype(KSA_traffic_df, 'Year')
appro_dtype(KSA_traffic_df,'Value')

appro_dtype(KSA_driving_df,'y')
appro_dtype(KSA_driving_df,'x')
appro_dtype(KSA_driving_df,'Year')
appro_dtype(KSA_driving_df,'Driving Liceses')

In [27]:
print("dtypes of KSA traffic df:\n {} \n\n dtypes of KSA driving df:\n {} ".format(KSA_traffic_df.dtypes,KSA_driving_df.dtypes))

dtypes of KSA traffic df:
 Year           int64
Region        object
Indicator     object
Value          int64
y            float64
x            float64
dtype: object

 dtypes of KSA driving df:
 Year                     int64
Administritive Area     object
Driving Liceses          int64
y                      float64
x                      float64
dtype: object

In [28]:
KSA_traffic_df.head()

,Year,Region,Indicator,Value,y,x
0,2016,Makkah,No. of Casualties - Injured,12383,21.628963,41.263690
1,2016,Eastern Region,No. of Casualties - Dead,1113,23.288331,50.147830
2,2016,Tabouk,No. of Casualties - Dead,434,27.901655,37.259858
3,2016,Hail,No. of Casualties - Dead,299,27.400846,41.440696
4,2016,Hail,No. of Accidents,10199,27.400846,41.440696

In [29]:
KSA_driving_df.head()

   Year Administritive Area  Driving Liceses          y         x
0  2012              Makkah           143954  21.628963  41.26369
1  1994              Makkah            75349  21.628963  41.26369
2  1998              Makkah            86082  21.628963  41.26369
3  2004              Makkah            86636  21.628963  41.26369
4  2005              Makkah            65099  21.628963  41.26369

---


**Now I need to rename the columns to more expressive names and those names should be match for the samilaer columns in both  dfs becouse I will combining them soon.**

Names should be : 
- All in lowercase.
- Column names should not contain spaces. 
- Column names should be unique and informative.

The result..

In [32]:
KSA_traffic_df.head(5)

,Year,Region,Type_of_Accidents,num_of_Accidents,longitude_y,latitude_x
0,2016,Makkah,No. of Casualties - Injured,12383,21.628963,41.263690
1,2016,Eastern Region,No. of Casualties - Dead,1113,23.288331,50.147830
2,2016,Tabouk,No. of Casualties - Dead,434,27.901655,37.259858
3,2016,Hail,No. of Casualties - Dead,299,27.400846,41.440696
4,2016,Hail,No. of Accidents,10199,27.400846,41.440696

In [33]:
KSA_driving_df.head(5)

   Year  Region  Driving_Liceses  longitude_y  latitude_x
0  2012  Makkah           143954    21.628963    41.26369
1  1994  Makkah            75349    21.628963    41.26369
2  1998  Makkah            86082    21.628963    41.26369
3  2004  Makkah            86636    21.628963    41.26369
4  2005  Makkah            65099    21.628963    41.26369

**Now all the data had been fixed we can have our data dictionary.**
- A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions.

**Driving License df :**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|Year|int|Driving_Licenses|The year where the Licenses issued |
|Region|str|Driving_Licenses| 13 region of Saudi Arabia|
|Driving_Liceses|int|Driving_Licenses|the number of Licenses|
|longitude_y |float|Driving_Licenses| y_Coordinate for a region|
|latitude_x|float|Driving_Licenses|x_Coordinate for a region|

**Traffic Accidents df :**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|Year|int|Traffic_Accidents	|The year where the accident happend|
|Region|str|Traffic_Accidents| 13 region of Saudi Arabia|
|Type_of_Accidents|str|Traffic_Accidents|ether it's # of Casualties or # of  of Accidents|
|longitude_y |float|Traffic_Accidents| y_Coordinate for a region|
|latitude_x|float|Traffic_Accidents|x_Coordinate for a region|

---

### Working in the rows 

1-  **Dropping unnecessary rows**

**ACTION** : there is unreasonable rows in region column in both dfs named (Total), I will **drop them all**.

before..

In [39]:
#code
KSA_traffic_df.Region.unique() #there is region named Total

array(['Makkah', 'Eastern Region', 'Tabouk', 'Hail', 'Northern Boarder',
       'Jazan', 'Al-Jouf', 'Total', 'Al-Baaha', 'Riyadh', 'Madinah',
       'Qassim', 'Najran', 'Asir'], dtype=object)

After droping..

In [45]:
KSA_traffic_df.Region.unique()

array(['Makkah', 'Eastern Region', 'Tabouk', 'Hail', 'Northern Boarder',
       'Jazan', 'Al-Jouf', 'Al-Baaha', 'Riyadh', 'Madinah', 'Qassim',
       'Najran', 'Asir'], dtype=object)

Before..

In [ ]:
KSA_driving_df.Region.unique()

After dropping..

In [44]:
KSA_driving_df.Region.unique()

array(['Makkah', 'Madinah', 'Al-Qaseem', 'Eastern', 'Assir', 'Tabouk',
       'Hail', 'Northern Boarder', 'Jazan', 'Najran', 'Al-Baha',
       'Al-Jouf', 'Riyadh'], dtype=object)

2-  **Unmatch names for the cities in both dfs** 


|driving|traffic|
|---|---|
|Al-Qaseem|Qassim|
|Eastern|Eastern Region|
|Assir|Asir|
|Al-Baha|Al-Baaha|


**ACTION** : Adopt one nomanation in both dfs and use `apply` with `lambda` to apply changes.

In [46]:
KSA_traffic_df['Region']= KSA_traffic_df['Region'].apply(lambda x: x.replace('Qassim','Al-Qaseem'))
KSA_traffic_df['Region']= KSA_traffic_df['Region'].apply(lambda x: x.replace('Al-Baaha','Al-Baha'))
KSA_traffic_df['Region']= KSA_traffic_df['Region'].apply(lambda x: x.replace('Asir','Assir'))

In [47]:
KSA_driving_df['Region']= KSA_driving_df['Region'].apply(lambda x: x.replace('Eastern','Eastern Region'))

In [48]:
KSA_traffic_df.Region.unique()

array(['Makkah', 'Eastern Region', 'Tabouk', 'Hail', 'Northern Boarder',
       'Jazan', 'Al-Jouf', 'Al-Baha', 'Riyadh', 'Madinah', 'Al-Qaseem',
       'Najran', 'Assir'], dtype=object)

In [49]:
KSA_driving_df.Region.unique()

array(['Makkah', 'Madinah', 'Al-Qaseem', 'Eastern Region', 'Assir',
       'Tabouk', 'Hail', 'Northern Boarder', 'Jazan', 'Najran', 'Al-Baha',
       'Al-Jouf', 'Riyadh'], dtype=object)

---

#### 10b. Changing formats
Which format would work best for both dataframes? Transform the datasets to the same format before merging in the next task.

In [ ]:
KSA_driving_df.info()

In [ ]:
traffic_wide_pv = pd.pivot_table(KSA_traffic_df, columns=['Type_of_Accidents'], values='num_of_Accidents', index=['Year','Region'])

In [ ]:
traffic_wide_pv

#### 11. Merge dataframes

Join the Driving Licenses & Traffic Accidents dataframes using the **region** and **year** in each dataframe as the key. Assign this to a new variable. Which join should you use to preserve the most data?

In [ ]:
KSA_driving_df.Region.unique()

In [ ]:
KSA_traffic_df.Region.unique()

In [ ]:
KSA_traffic_df

In [ ]:
merged_wide =  pd.merge(traffic_wide_pv,KSA_driving_df, on=['Year','Region'],how='outer')

In [ ]:
merged_wide.head()

In [ ]:
merged_wide.rename(columns={'No. of Accidents':'No_of_Accidents'},inplace=True)

#### 12. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_datasets.csv`.

In [ ]:
#code
merged_wide.to_csv('combined_datasets.csv')

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
df=merged_wide.describe()
df.transpose()

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [ ]:
merged_wide.describe()

In [ ]:
#code
import math
def std_dev(df_name,col_name):
    input_dict = dict(df_name[col_name])
    mean_ = df_name[col_name].mean()
    for key, val in input_dict.items():
        under_sqrt = (val - mean_) ** 2
        sqrt_value = [np.sqrt(under_sqrt)]
        #output_dict =  dict()
        return(sqrt_value)
        #myDict = { k:v for (k,v) in zip(col_name, sqrt_value)} 
std_dev(merged_wide,'No. of Accidents')

In [ ]:
def mean(col_name):
    return float(sum(col_name) / len(col_name))

def variance(col_name):
    mean_ = mean(col_name)
    return mean([(x - mean_) ** 2 for x in col_name])

def stddev(col_name):
    
    return np.sqrt(variance(col_name))

#myDict = {x: x**2 for x in [1,2,3,4,5]} 
stddev(merged_wide['Driving_Liceses'])

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'Driving_Licenses_x': 120, 'Traffic_Accidents_x': 120, ...}`

In [ ]:
#Code:
sd={i:stddev(Only_Numeric)[i]  for i in Only_Numeric}
sd

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer:
first of all it get me an 'nan' value for the std of '#_of_Accidents' column but ingenral the pandas values are haigher than

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which regions have the highest and lowest Driving Licenses based on years (1993 - 2017)
- Which regions have the highest and lowest mean Traffic Accidents numbers for years (2016 - 2017)
- What are the regions that have more Driving Licenses issued in each year than the year average?
- What are the regions that have more Traffic Accidents happened in each year than the year average?

Based on what you've just observed, have you identified any regions that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

###### 1 - Which regions have the highest and lowest Driving Licenses based on years (1993 - 2017)

In [ ]:
merged_wide.head()

In [ ]:
merged_wide.nlargest(10,'Driving_Liceses')[['Year','Region','Driving_Liceses']]

In [ ]:
merged_wide.nsmallest(1,'Driving_Liceses')[['Year','Region','Driving_Liceses']]

######  2 - Which regions have the highest and lowest mean Traffic Accidents numbers for years (2016 - 2017)

In [ ]:
df_only_016 =  merged_wide[merged_wide['Year'] == 2016 ].groupby('Region').agg({'No_of_Accidents':['mean']}) 
df_only_016.reset_index(inplace=True)

In [ ]:
df_only_017 =  merged_wide[merged_wide['Year'] == 2017 ].groupby('Region').agg({'No_of_Accidents':['mean']}) 
df_only_017.reset_index(inplace=True)

In [ ]:
df_only_017.drop(columns={'Region'},inplace=True)

In [ ]:
df_only_017.rename(columns = {'No_of_Accidents mean':'mean_2017'},inplace=True)

In [ ]:
df_mean_016_017 = pd.DataFrame(df_only_016)

In [ ]:
#df_only_017

In [ ]:
df_mean_016_017.rename(columns = {'mean':'','No_of_Accidents':'mean_accidents_2016'},inplace=True)

In [ ]:
df_mean_016_017['mean_accidents_2017'] = df_only_017['No_of_Accidents']

So let's desply the dataframe

In [ ]:
df_mean_016_017.head(2)

now let's check it

In [ ]:
df_mean_016_017.nlargest(1,'mean_accidents_2017')[['Region','mean_accidents_2017']]

In [ ]:
df_mean_016_017.nlargest(1,'mean_accidents_2016')[['Region','mean_accidents_2016']]

In [ ]:
df_mean_016_017.nsmallest(1,'mean_accidents_2017')[['Region','mean_accidents_2017']]

In [ ]:
df_mean_016_017.nsmallest(1,'mean_accidents_2016')[['Region','mean_accidents_2016']]

###### - What are the regions that have more Driving Licenses issued in each year than the year average?

In [ ]:
merged_wide.head()

In [ ]:
merged_wide_2 = merged_wide

In [ ]:
df_by_year = merged_wide_2 .groupby('Year')

In [ ]:
merged_wide_2['DL_mean']=df_by_year['Driving_Liceses'].transform(np.mean)

In [ ]:
final_df =merged_wide_2[(merged_wide_2.Driving_Liceses> merged_wide_2.DL_mean)][['Year','Region','Driving_Liceses','DL_mean']].sort_values('Year')
final_df.Region.unique()

###### 4 - What are the regions that have more Traffic Accidents happened in each year than the year average

In [ ]:

#df_by_year = merged_wide_2 .groupby('Year')

merged_wide_2['Acc_mean']=df_by_year['No_of_Accidents'].transform(np.mean)

final_df =merged_wide_2[(merged_wide_2.No_of_Accidents > merged_wide_2.Acc_mean)][['Year','Region','Driving_Liceses','Acc_mean']].sort_values('Year')
final_df.Region.unique()

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

In [ ]:
def correlation_heat_map(df):
    corrs = df.corr()

    # Set the default matplotlib figure size:
    fig, ax = plt.subplots(figsize=(11,7))

    # Generate a mask for the upper triangle (taken from the Seaborn example gallery):
    mask = np.zeros_like(corrs, dtype=np.bool)
    mask[np.triu_indices_from(mask)] = True

    # Plot the heatmap with Seaborn.
    # Assign the matplotlib axis the function returns. This allow us to resize the labels.
    ax = sns.heatmap(corrs, mask=mask, annot=True, vmin=-1, vmax=1)

    # Resize the labels.
    ax.set_xticklabels(ax.xaxis.get_ticklabels(), fontsize=14, rotation=30)
    
    ax.set_yticklabels(ax.yaxis.get_ticklabels(), fontsize=15, rotation=0)

    # If you put plt.show() at the bottom, it prevents those useless printouts from matplotlib.
    plt.show()

In [ ]:
correlation_heat_map(merged_wide.corr())

#### Define a custom function to subplot histograms

We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column])
        if i == 0:
            ax[i].set_title(list_of_titles[i])
            ax[i].set_xlabel(list_of_xlabels[i])
        else:
            ax[i].set_title(list_of_titles[i])
            ax[i].set_xlabel(list_of_xlabels[i])
        # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Driving Licenses number
- Traffic Accidents number

Please plot two additional histograms that will help with your understanding of the data

In [ ]:
subplot_histograms(merged_wide,['Driving_Liceses','No_of_Accidents'],['Driving_Liceses','num_of_Accidents',],['Driving_Liceses','num_of_Accidents'])

#### Plot and interpret scatter plots

For each of the following:
- Driving Licenses vs. Traffic Accidents for 2017
- Driving Licenses vs. Traffic Accidents for 2016
- Driving Licenses for 2016 vs 2017
- Traffic Accidents for 2016 vs 2017

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
merged_wide.describe()

#### Driving Licenses vs. Traffic Accidents for 2017

In [ ]:
traffic_accident_2017_full =merged_wide[merged_wide['Year']==2017]['No_of_Accidents']

In [ ]:
drive_license_2017_full = merged_wide[merged_wide['Year']==2017]['Driving_Liceses']

In [ ]:
#plt.plot(traffic_accident_2017_full,drive_license_2017_full);
plt.scatter(traffic_accident_2017_full,drive_license_2017_full);
plt.xlabel('Driving_Liceses_2017');
plt.ylabel('No. of Accidents_2017');

I've notice the outliers so I'm gonna remove them and plot it again to take a deeper look on the the rest data

In [ ]:
first_scatter =  merged_wide[merged_wide['Year']==2017]

In [ ]:
first_scatter.drop([21,17,24],inplace=True)

In [ ]:
traffic_accident_2017 =first_scatter[first_scatter['Year']==2017]['No_of_Accidents']

In [ ]:
drive_license_2017 = first_scatter[first_scatter['Year']==2017]['Driving_Liceses']

In [ ]:
# Code
plt.scatter(drive_license_2017,traffic_accident_2017);
plt.xlabel('Driving_Liceses_2017');
plt.ylabel('No. of Accidents_2017');

#### Driving Licenses vs. Traffic Accidents for 2016

In [ ]:
drive_license_2016_full = merged_wide[merged_wide['Year']==2016]['Driving_Liceses']

In [ ]:
traffic_accident_2016_full = merged_wide[merged_wide['Year']==2016]['No_of_Accidents']

In [ ]:
plt.scatter(drive_license_2016_full,traffic_accident_2016_full);
plt.xlabel('Driving_Liceses');
plt.ylabel('No. of Accidents');

In [ ]:
second_scatter = merged_wide[merged_wide['Year']==2016]

In [ ]:
second_scatter.drop([4,11,8],inplace=True)

In [ ]:
drive_license_2016 = second_scatter[second_scatter['Year']==2016]['Driving_Liceses']
traffic_accident_2016 = second_scatter[second_scatter['Year']==2016]['No_of_Accidents']

In [ ]:
plt.scatter(drive_license_2016,traffic_accident_2016);
plt.xlabel('Driving_Liceses_2016');
plt.ylabel('No. of Accidents_2016');

#### Driving Licenses for 2016 vs 2017

In [ ]:
plt.scatter(drive_license_2016,drive_license_2017);
plt.xlabel('Driving_Liceses');
plt.ylabel('No. of Accidents');

#### Traffic Accidents for 2016 vs 2017

In [ ]:
plt.scatter(traffic_accident_2016,traffic_accident_2017);
plt.xlabel('Driving_Liceses');
plt.ylabel('No. of Accidents');

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
fig, ax = plt.subplots(figsize=(24, 4))
sns.boxplot(x='Year',  orient='h', fliersize=8, linewidth=1.5, saturation=1, ax=ax ,data=merged_wide);

In [ ]:
fig, ax = plt.subplots(figsize=(24,4))
sns.boxplot(x='No. of Casualties - Injured',  orient='h', fliersize=8, linewidth=1.5, saturation=1, ax=ax ,data=merged_wide);

In [ ]:
fig, ax = plt.subplots(figsize=(24,4))
sns.boxplot(x='No. of Casualties - Dead',  orient='h', fliersize=8, linewidth=1.5, saturation=1, ax=ax ,data=merged_wide);

In [ ]:
fig, ax = plt.subplots(figsize=(24,4))
sns.boxplot(x='Driving_Liceses',  orient='h', fliersize=8, linewidth=1.5, saturation=1, ax=ax ,data=merged_wide);

##### I'I  scale the values just to make them all in the same magnitude

In [ ]:
from sklearn.preprocessing import StandardScaler # importing standard scaler
s = StandardScaler() # initiate scaler

In [ ]:
scaled_df = pd.DataFrame(s.fit_transform(merged_wide[[ 'No_of_Accidents','No. of Casualties - Dead','No. of Casualties - Injured','Driving_Liceses']]) ,columns=[ 'No. of Accidents',
       'No_of_Casualties - Dead', 'No. of Casualties - Injured',
       'licenses'])

In [ ]:
fig = plt.figure(figsize=(12,6))
ax = fig.gca()

sns.boxplot(data=scaled_df, orient='h', fliersize=3, linewidth=4, 
                 saturation=1, ax=ax)

ax.set_title('All numerical variables boxplot\n')
plt.show() # plotting boxplot for all numerical columns

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
fig = plt.figure(figsize=(12,6))
ax = fig.gca()

sns.boxplot(x=scaled_df['No_of_Casualties - Dead'],y=merged_wide['Region'],data=scaled_df, orient='h', fliersize=1, linewidth=2, 
                 saturation=0.5, ax=ax) #hue=merged_wide['Region']

ax.set_title('\n')
plt.show()

In [ ]:
f = plt.figure(figsize=(25,9))
sns.barplot(merged_wide.groupby(['Region']).sum().sort_values(by = 'No_of_Accidents', ascending= False).index,
           merged_wide.groupby(['Region']).sum().sort_values(by = 'No_of_Accidents', ascending= False)['No_of_Accidents'],saturation=5,palette='Blues_d');

In [ ]:

f = plt.figure(figsize=(25,9)) # plotting the dataframe to get better look
sns.barplot(merged_wide.groupby(['Region']).sum().sort_values(by = 'Driving_Liceses', ascending= False).index,
           merged_wide.groupby(['Region']).sum().sort_values(by = 'Driving_Liceses', ascending= False)['Driving_Liceses']);

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

###### Answers:

In [ ]:
merged_wide.describe()

#### Measures of central tendency:

as we notice that the mean of all of `'No. of Accidents'`,`No. of Casualties -  Dead`, `No. of Casualties - Injured`  
are greater than the median. I'll Visualize one of the column

In [ ]:
var_tend = merged_wide['No_of_Accidents']
mean=var_tend.mean()
median=var_tend.median()
mode=var_tend.mode()
print('Mean: ',mean,'\nMedian: ',median,'\nMode: ',mode[0])

In [ ]:
plt.figure(figsize=(10,5))
plt.hist(var_tend,bins=100,color='grey')
plt.axvline(mean,color='red',label='Mean')
plt.axvline(median,color='yellow',label='Median')
plt.axvline(mode[0],color='green',label='Mode')
plt.xlabel('No_of_Accidents')
plt.ylabel('Frequency')
plt.legend()
plt.show()

##### the output/Conclution:

 all the numeric columns are positivily skewd

##### Measures of dispersion

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [ ]:
merged_wide['Driving_Liceses'].skew()

In [ ]:
merged_wide['Driving_Liceses'].kurt()

In [ ]:
subplot_histograms(merged_wide, ['No_of_Accidents','No. of Casualties - Dead','No. of Casualties - Injured','Driving_Liceses'],
                  ['No_of_Accidents','No. of Casualties - Dead','No. of Casualties - Injured','Driving_Liceses'],
                  ['No_of_Accidents','No. of Casualties - Dead','No. of Casualties - Injured',''])

h = np.asarray(merged_wide['Driving_Liceses'])
h = sorted(h)
 
#use the scipy stats module to fit a normal distirbution with same mean and standard deviation
fit = stats.norm.pdf(h, np.mean(h), np.std(h)) 

plt.plot(h,fit,'-',linewidth = 2,label="Normal distribution with same mean and var")
plt.hist(h,normed=True,bins = 100,label="Actual distribution")      
plt.legend()
plt.show()

##### the output/Conclution:

 all the numeric columns except the 'Driving_Liceses' column are NOT normaily distrbuted

##### Measures to describe shape of distribution

###### if we did it for one column :

In [ ]:
import numpy as np
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt
from math import sqrt

In [ ]:
merged_wide['No_of_Accidents'].max()-merged_wide['No_of_Accidents'].min()

In [ ]:
merged_wide['No_of_Accidents'].var()

In [ ]:
sqrt(merged_wide['No_of_Accidents'].var())

In [ ]:
#50th percentile i.e median(q2)
merged_wide['No_of_Accidents'].quantile(0.5)

In [ ]:
#75th percentile
q3 = merged_wide['No_of_Accidents'].quantile(0.75)
q3

In [ ]:
#25th percentile
q1 = merged_wide['No_of_Accidents'].quantile(0.25)
q1

In [ ]:
#interquartile range
IQR = q3  - q1
IQR

In [ ]:
fig, ax = plt.subplots(figsize=(25, 4))
sns.boxplot(x='No_of_Accidents',orient='h', fliersize=8, linewidth=2, saturation=6, ax=ax ,data=merged_wide);

In [ ]:
plt.rcParams['figure.figsize']= (10,10)

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer: No this assumtion is -in this case - not true

Does This Assumption Hold for:
    - Driving Licenses
    - Traffic Accidents
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

The data rarely is normal distributed it has outliers. However,we need to deal with outliers befor. Since the set of data is not big the distribution will be skewed. The higher the data the more normal distribution will be.

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code

from scipy.stats import normaltest, skew

# Your code here
numeric_columns = ['No_of_Accidents','No. of Casualties - Dead','No. of Casualties - Injured','Driving_Liceses']
for i in numeric_columns:
    if normaltest(merged_wide[i].dropna())[1]<0.01: 
             print("The null hypothesis can be rejected for the {} feature ".format(i))
    else:
             print("The null hypothesis cannot be rejected for the {} feature ".format(i))

In [ ]:
for i in numeric_columns:
    if skew(merged_wide[i].dropna())>0: # ckecking all columns and see the skweness
             print("distribution is skewed positive for the {} feature ".format(i))
    elif skew(merged_wide[i].dropna())<0:
             print("distribution is skewed negative for the {} feature ".format(i))
    else:
             print("no skeweness for the {} feature ".format(i))

## Outside Research

Based upon your observations, choose **three** regions that demonstrate interesting trends in the number of driving licenses and traffic accidents. Spend some time doing outside research on provincial and central policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

In [ ]:
search_data.groupby(['Region','Year']).agg({'No_of_Accidents':['sum'],'No. of Casualties - Dead':['sum'],'No. of Casualties - Injured':['sum']},inplace=True)

In [ ]:
search_data.nlargest(10,'No_of_Accidents')[['Region','Year']]

In [ ]:
search_data.nsmallest(10,'No_of_Accidents')[['Region','Year']]

I looked down ih the smallest region to study how it comes to be that small and I found something quit interresting! 
for "Al-Baha" :
from 1993 till 2017 no more than 10,000 LD had been issued for each year, I would if the data of accidents was covering more the 2017- 2016 acciedents to be able to study the patternig

In [ ]:
merged_wide[merged_wide['Region']== 'Al-Baha']

In [ ]:
merged_wide[merged_wide['Region']== 'Al-Baha'][merged_wide['Year']>=2016]

but I found something interesting in Najran ! 
there was a HUGE! gab between 2016 and 2017 in a matter of issuing the Licences 
for 2016 it was 2153 licenes but for 2017 it was 13825 licenses !! and upove of all of these the number of accidents,Dead,Injured
was alomst the same for puth years ?
which make me think that ?
how it comes to have all of this accidents and Casualties with this low number of licenese (for 2016)
and what happend there an over a year that make this big number of license.

In [ ]:
najran_ =merged_wide[merged_wide['Region']== 'Najran'][merged_wide['Year']>=2016]

In [ ]:
najran_

In [ ]:
Also notice that all the regions had less number of accidents in 2017 than 2016 except Makkah, Madina and Al Jouf
and Al-Jouf specifically in this year (2017) had less Licenses Issued

In [ ]:
merged_wide.Region.unique()

## Conclusions and Recommendations

- Based on your exploration of the data, what are you key takeaways and recommendations?
- Are there additional data you desire that would better inform your investigations?

Answer: